@model IEnumerable<AppleStoreTupinikim.Models.Login>

@{
    ViewData["Title"] = "Index";
}

<h1>FAÇA LOGIN</h1>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
        <small id="emailHelp" class="form-text text-muted">Nós não compartilhamos seu email com ninguém.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha">
        <small id="emailHelp" class="form-text text-muted">Nós não compartilhamos sua senha com ninguém.</small>
    </div>
    <button type="submit" asp-controller="Home" asp-action="Index" class="btn btn-primary">Logar</button>
</form>
